<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a id="scraping" class="navbar-brand">Scrape New Articles!</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/newsroom_bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="site-heading">
                    <h1>Austin News Scraper</h1>
                    <span class="subheading">
                        <img src="/img/kxan-olympics-web.png">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    {{#if hasArticles}}
        {{#each articles}}
            <div class="row">
                <div class="col-lg-2 mx-auto">
                    <img src="{{this.img}}" width="100%">
                </div>
                <div class="col-lg-8 mx-auto">
                    <a href="{{this.link}}" target="_blank">
                        <h2 class="post-title mystyle-h2">
                            {{this.title}}
                        </h2>
                    </a>
                    <p class="mystyle-p">
                        {{this.summary}}
                    </p>
                </div>
                <div class="col-lg-2 mx-auto">
                    <button class="btn btn-primary float-right btn-saved" data-id="{{this._id}}">SAVE ARTICLE</button>
                </div>
            </div>
            <hr>
        {{/each}}
    {{else}}
        <div class="row">
            <div class="col-lg-12 mx-auto empty-col">
                <h2 class="post-title mystyle-h2">
                    Uh Oh. Looks like we don't have any new articles.
                </h2>
            </div>
        </div>
        <hr>
    {{/if}}
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/fdmoon/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/felix-daekeun-moon/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://stackoverflow.com/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; 2017 Felix Moon</p>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="resultModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-title">Scraping Result</strong>
                <button type="button" class="close modalClose">&times;</button>
                {{!-- <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
            </div>
            <div id="modalText" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modalClose">Close</button>
                {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/clean-blog.js"></script>
<script src="/js/index.js"></script>

